<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Auth</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a routerLink="employees" routerLinkActive="active" class="nav-link">Employees</a>
                </li>
                <li class="nav-item">
                    <a routerLink="users" routerLinkActive="active" class="nav-link">Users</a>
                </li>
                <li class="nav-item">
                    <a routerLink="fileUpload" routerLinkActive="active" class="nav-link">File Upload</a>
                </li>
                <li class="nav-item">
                    <a routerLink="create-prescription" routerLinkActive="active" class="nav-link">CP</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="nav">
                    <li *ngIf="!currentUser" class="nav-item">
                        <button routerLink="login" class="btn btn-primary">Login</button>
                    </li>
                    <li *ngIf="currentUser" class="nav-item">
                        <a class="nav-link text-white"> {{currentUser.firstName.concat(" ",currentUser.lastName)}}</a>
                    </li>
                    <li *ngIf="currentUser" class="nav-item">
                        <button class="btn btn-primary" (click)="logout()">LogOut</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>