<div appFiledropzone
    class="container border rounded-3 mt-5 p-5 d-flex flex-column align-items-center justify-content-center"
    (readFile)="readFile($event)">
    <input type="file" name="" id="" (change)="readFile($event.target)">
    <button type="button" (click)="uploadFile()">Upload</button>
    <p *ngIf="file">{{file.name}} File is Ready to Upload</p>
</div>

<div class="container border rounded-3 mt-5 p-5">
    <form [formGroup]="dateForm">
        <label for="fromDate">From:</label>
        <input type="date" id="fromDate" formControlName="fromDate" (change)="readStartDate($event)" max="{{endDate}}">

        <label class="ms-4" for="toDate">To:</label>
        <input type="date" id="toDate" formArrayName="toDate" (change)="readendDate($event)" min="{{startDate}}">
    </form>
</div>